@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body{
  font-family: Helvetica;
}

/* .section5{
    background-image: linear-gradient(200deg, #0066EE 60%, #9383FB 100%);
       
    color: white;
    align-items: center;    
    justify-content: center;
} */

.question{
  display: flex;
  justify-content: center;
  align-items: center;
}

